<div class="container" style="max-width: 500px;">
  <form action="/answer" data-turbo="false" class="mt-5">
    <div class="form-group">
      <label for="question">Your Question:</label>
      <input type="text" class="form-control" id="question" name="question" placeholder="Enter your question">
    </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
